* {       /* ამას ვტოვებ*/ 
    box-sizing: border-box;
}


@font-face {         /* ამას ვტოვებ*/ 
    font-family: "my-font";
    src: url("Mulish-Regular.ttf");
}


body {           /* ამას ვტოვებ*/ 
    font-family: "my-font";
}


.card {      /* ამას ვტოვებ*/ 
    border-radius: 12px;
    border: 1px solid rgba(232, 231, 231, 1);  
}



.image {
    width: 50%;
    height: 35px;
}



.paragraph02 {  /* ამას ვტოვებ*/ 
    font-size: 32px;
}


span {  /* ამას ვტოვებ*/ 
    font-weight: 700;
    color: rgba(129, 129, 129, 1);
    font-size: 16px;
}


.divNormal {  /* ამას ვტოვებ*/ 
    width: 30%;
    height: 23px;
    background-color: rgba(248, 222, 189, 1);
    border-radius: 4px;
}


.divNormal2 {  /* ამას ვტოვებ*/ 
    width: 33%;
    height: 23px;
    background-color: rgba(251, 240, 243, 1);
    border-radius: 4px;
}


.divNormal3 {  /* ამას ვტოვებ*/ 
    width: 33%;
    height: 23px;
    background-color: rgba(208, 251, 255, 1);
    border-radius: 4px;
}



.divNormal4 {  /* ამას ვტოვებ*/ 
    width: 33%;
    height: 23px;
    background-color: rgba(248, 189, 189, 1);
    border-radius: 4px;
}



.card-img-bottom {       /* ამას ვტოვებ*/ 
    height: 72px;
}


.icons1 {  /* ამას ვტოვებ*/ 
    width: 58px;
    height: 58px;
    background-color: rgba(248, 222, 189, 1);
    border-radius: 12px;
}


.icons2 {  /* ამას ვტოვებ*/ 
    width: 58px;
    height: 58px;
    background-color: rgba(251, 240, 243, 1);
    border-radius: 12px;
}


.icons3 {  /* ამას ვტოვებ*/ 
    width: 58px;
    height: 58px;
    background-color: rgba(208, 251, 255, 1);
    border-radius: 12px;
}


.icons4 {  /* ამას ვტოვებ*/ 
    width: 58px;
    height: 58px;
    background-color: rgba(248, 189, 189, 1);
    border-radius: 12px;
}
